*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background: #212529;
}

.conteiner {
  max-width: 35rem;
  height: 45rem;

  margin: 4.2rem auto;
}

header {
  display: flex;
  align-items: center;

  max-width: 100%;
  height: 4.8rem;

  padding-inline: 1.8rem;

  margin-bottom: 3.2rem;
}

.icon-box {
  height: 100%;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.9rem;
}

.icon-box svg {
  width: 100%;
  height: 100%;
  fill: white;
}

.title {
  width: max-content;
  margin-inline: auto;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

main {
  padding-inline: 5.6rem;
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.letter-input {
  position: relative;
  border: solid 1px #495057;
  border: solid 1px #343a40;
  border-radius: 3px;
  aspect-ratio: 1;

  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;

  display: grid;
  place-items: center;
  color: white;

  transition: all 0.3s 0s;
}

.letter-input::after {
  content: "";
  position: absolute;

  width: 100%;
  bottom: 0;
  display: block;

  transition: all 0.3s 0s;
}

.letter-input.atual {
  border: solid 2px #495057;
}

.letter-input.atual::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 0.6rem;
  bottom: 0;
  display: block;

  background: #495057;
  height: 0.6rem;
}

.options-btn {
  width: max-content;
  margin-inline: auto;
  display: flex;
  margin-block: 3.2rem;
  height: 2.8rem;
  gap: 3.2rem;
}

button {
  border: none;
  border-radius: none;
  cursor: pointer;
  background: none;
}

.options-btn .btn {
  height: 100%;
  aspect-ratio: 16/9;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-block: 0.4rem;

  position: relative;
  color: #868e96;

  border-radius: 3px;
  overflow: hidden;
}

.options-btn .btn:hover {
  color: white;
  transform: scale(1.1);
}

.options-btn .btn:active {
  transform: scale(1);
}

.options-btn .btn::after {
  content: "";
  position: absolute;

  width: 50%;
  height: 100%;
  right: 0;

  transition: all 0.3s 0s;
  z-index: -1;
}
.options-btn .btn:hover::after {
  width: 100%;
  background: #343a40;
}

svg {
  max-height: 100%;
  max-width: 100%;

  stroke-width: 1px;
}

.keyboard {
  max-width: 100%;
  margin-inline: auto;

  display: grid;
  gap: 0.4rem;
}

.keyboard-line {
  width: max-content;
  display: flex;
  gap: inherit;
  margin-inline: auto;
}

.key {
  width: 3.2rem;
  height: 3.8rem;

  text-transform: uppercase;
  font-weight: 700;
  color: #fff;

  background: none;
  border: solid 2px #495057;

  border-radius: 4px;

  position: relative;
  transition: all 0.1s 0.3s;
}

.key:hover:active {
  transform: scale(1);
}

.key:hover {
  transform: scale(1.05);
  transition: none;
}

.key::after {
  width: 100%;
  height: 50%;

  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;
  content: "";
  z-index: -1;

  transition: all 0.3s 0s;
}

.key:hover::after {
  height: 100%;
  background: #495057;
}

.green {
  background: rgb(2, 255, 2);
}
.yellow {
  background: rgb(117, 117, 5);
}
.red {
  background: red;
}

/* POPUP */

.open .conteiner {
  filter: blur(4px);
}

.open .popup {
  display: block;
}

.popup {
  width: 60rem;
  height: 40rem;
  background: rgba(17, 19, 22, 0.9);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 3px;

  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
}

.popup-title {
  letter-spacing: 2px;
  font-weight: 300;

  padding-bottom: 6px;

  position: relative;

  margin-left: unset;
}

.border-bottom::after {
  position: absolute;

  content: "";
  left: 0;
  bottom: 0;

  height: 2px;
  width: 105%;
}
